.section-title {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 50%;
    left: 0;
    border-bottom: 1px dashed #080a0c;
    z-index: -1;
}

.red {
    background-color: red;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.product-action a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.product-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.product-item:hover .product-action {
    background: rgba(255, 255, 255, 0.7);
}

.product-item:hover .product-action a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.product-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.product-item:hover .product-action {
    background: rgba(255, 255, 255, 0.7);
}

.product-item:hover .product-action a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.product-item .product-img img {
    transition: .5s;
}

.product-item:hover .product-img img {
    transform: scale(1.2);
}

.product-item .btn:hover {
    color: #FFD333 !important;
}

.product-item {
    transition: .5s;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* demo 2 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url(../img/product-1.jpg) no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url(../img/product-2.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url(../img/product-3.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url(../img/product-4.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url(../img/product-5.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url(../img/product-6.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url(../img/product-7.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url(../img/product-8.jpg) no-repeat center;
    background-size: cover;
}

.section-products #product-9 .part-1::before {
    background: url(../img/product-9.jpg) no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/* demo 2 end */
.gray {
    background-color: gainsboro;
}

.form-check-input:checked {
    background-color: yellow;
    border-color: yellow;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* demo category */
.cat-item {
    background: #FFFFFF;
    transition: .5s;
}

.cat-item:hover {
    background: #FFD333;
}

.cat-item img {
    transition: .5s;
}

.cat-item:hover img {
    transform: scale(1.2) rotate(5deg);
}

/* end */

/* zoom class */

.zoom {

    transition: transform .2s;
    /* Animation */

}

.zoom:hover {
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* zoom class end */